/* ProductList.css */
.product-list-container {
    padding: 16px 28px;
    max-width: 70vw;
    margin: 0 auto;
    align-content: flex-start;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.product-card {
    background-color: white;
    width: 270px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-details {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 1rem;
    font-weight: bold;
    color: #2C2480;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-donator {
    font-size: 0.875rem;
    color: #555555;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.product-status-label {
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
}

.product-status-label.donated {
    background-color: #DDDEE8;
    color: #2C2480;
}

.product-status-label.waiting-list {
    background-color: #EAD5DD;
    color: #760532;
}

.no-products-message {
    font-size: 1rem;
    color: #555555;
    text-align: center;
    margin: 20px auto;
}