.food-detail-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.food-detail-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

.food-detail-image {
    width: 50%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.food-detail-info {
    width: 45%;
}

.food-detail-info h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.food-detail-info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #676767;
}

.food-detail-price {
    font-size: 1.5rem;
    color: #FF4C24;
    font-weight: bold;
    margin-bottom: 30px;
}

.food-detail-info button {
    padding: 10px 20px;
    background-color: #FF4C24;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.food-detail-info button:hover {
    background-color: #D93A1E;
}
